.keyboard-input {
  height: 250px;
  width: 60%;
  margin: 0 auto;
  display: block;
}

.keyboard {
  width: 60%;
  margin: 20px auto;
  padding: 15px 0;
  background: #2c2c2c;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  user-select: none;
  transition: bottom 0.4s;

  &__keys {
    text-align: center;
  }

  &__key {
    height: 50px;
  width: 6%;
  max-width: 140px;
  margin: 5px;
  border-radius: 2px;
  border: 1px solid #6e6e6e;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  }

  &__key:active {
    background: rgba(46, 58, 36, 0.288);
  }

  &__key--wide {
    width: 15%;
  }

  &__key--extra-wide {
    width: 40%;
    max-width: 500px;
  }

  &__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }

  &__key--active::after {
    background: #d9ff00;
  }
}